.dashboard {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  .card {
    background-color: #fff;
    width: 100%;

    &-header,
    &-footer {
      background-color: inherit;
    }
  }

  &_user-infor {
    .user {
      display: flex;
    }

    display: flex;

    .user-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    em {
      font-size: 14px;
      color: rgb(174, 174, 174);
      font-weight: 500;
    }
  }

  .actions {
    justify-content: space-between;

    button {
      min-width: 150px;
    }
  }
}

.imgContent {
  width: inherit;
  height: inherit;
}

.swiper-wrapper {
  align-items: center;
}

.ant-card-actions {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;
  border-top: 1px solid #f0f0f0;
}

.ant-card-actions::before {
  display: table;
  content: "";
}

.ant-card-actions::after {
  display: table;
  clear: both;
  content: "";
}

.ant-card-actions>li {
  float: left;
  margin: 12px 0;
  color: rgba(0, 0, 0, 0.45);
  text-align: center;
}

.ant-card-actions>li:not(:last-child) {
  border-right: 1px solid #f0f0f0;
}

.ant-card-actions>li>span {
  position: relative;
  display: block;
  min-width: 32px;
  font-size: 14px;
  line-height: 1.5715;
  cursor: pointer;
}